@font-face {
    font-family: pokemon;
    src: url(/assets/fonts/Pokemon\ Solid.ttf);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header {
    background-color: #3c5aa6;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-family: pokemon;
    letter-spacing: 5px;
    font-size: 4rem;
    color: #ffcb05;
    padding: 0px;
    margin: 0px;
}

h2 {
    color: #fff;
}

a {
    text-decoration: none;
    color: #010101;
}

.error {
    text-align: center;
    padding: 1rem;
    background-color: #ff000020;
    border: 2px solid red;
    border-radius: 8px;
}

.pokemon-cards {
    display: none;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.pokemon-card {
    border: 8px solid #ffcb05;
    border-radius: 8px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 2px #696969;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.name, .type {
    text-transform: capitalize;
}

.img-container {
    width: 230px;
    height: 130px;
    border: 2px solid #bbbbbb;
    box-shadow: 1px 1px 2px #696969;
    background-color: #ffffff99;
    display: flex;
    justify-content: center;
}

.more-link {
    padding:  0.5rem 1rem;
    background-color: #00000020;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #000000;
}

.pokeball-container {
    position: flex;
    justify-content: center;
    margin-top: 2rem;

}
 
.pokeball {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 10px solid black;
    background: linear-gradient(to bottom, red 50%, white 50%);
    animation: wiggle 1.2s infinite;
  }

  .pokeball::before, .pokeball::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border: 10px solid black;
    transform: translate(-50%, -50%);

  }
  
  .pokeball::before {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #a0a0a0;
    z-index: 1;
  }

  .pokeball::after {
    width: 100%;
    height: 0;
  }
  
  @keyframes wiggle {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-15px, 0) rotate(-15deg); }
    30% { transform: translate(20px, 0) rotate(20deg); }
    50% { transform: translate(-15px, 0) rotate(-15deg); }
    60% { transform: translate(20px, 0) rotate(20deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }

.back {
    text-decoration: underline;
    color: blue;
}

@media (max-width: 900px) {

}

@media (max-width: 600px) {

}

