@import url(/styles/imports/variables_constants.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    height: 100%;
}

header {
    background-color: var(--clr-pokeblue);
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
}

main,
header {
    padding: 1rem;
}

h1 {
    font-family: var(--ff-pokemon);
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    color: var(--clr-pokeyellow);
}

h2 {
    color: var(--clr-white);
    font-size: 1.5rem;
}

.cta {
    color: var(--clr-text-primary);
    box-shadow: 1px 1px 2px var(--clr-text-primary);
    border-radius: var(--radius-default);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.error {
    text-align: center;
    padding: 1rem;
    background-color: var(--clr-error-bg);
    border: 2px solid var(--clr-red);
    border-radius: var(--radius-default);
}

.capitalize {
    text-transform: capitalize;
}

.pokemon-cards {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.pokemon-cards__pokemon-card {
    border: 8px solid var(--clr-pokeyellow);
    border-radius: var(--radius-default);
    padding: 0.5rem;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.pokemon-card__top-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 250px;
}

.pokemon-card__img-container {
    width: 150px;
    height: 150px;
    border: 2px solid var(--clr-silver);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-circle);
    background-color: var(--clr-white);
}

.pokemon-card__img-container img {
    width: 150px;
    height: 150px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokeball-container {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.pokeball-container h3,
.pokeball-container p {
    margin: 0;
}

.pokeball-container__pokeball {
    width: 10rem;
    height: 10rem;
    border-radius: var(--radius-circle);
    border: 10px solid var(--clr-text-primary);
    background: linear-gradient(to bottom, var(--clr-red) 50%, var(--clr-white) 50%);
    animation: wiggle 1.2s infinite;
}

.pokeball-container__pokeball::before,
.pokeball-container__pokeball::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border: 10px solid var(--clr-text-primary);
    transform: translate(-50%, -50%);

}

.pokeball-container__pokeball::before {
    width: 60px;
    height: 60px;
    border-radius: var(--radius-circle);
    background-color: var(--clr-silver);
    z-index: 1;
}

.pokeball-container__pokeball::after {
    width: 95%;
    height: 0;
}

@keyframes wiggle {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-15px, 0) rotate(-15deg);
    }

    30% {
        transform: translate(20px, 0) rotate(20deg);
    }

    50% {
        transform: translate(-15px, 0) rotate(-15deg);
    }

    60% {
        transform: translate(20px, 0) rotate(20deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

form {
    display: grid;
    padding-inline: 10rem;
    padding-block: 2rem;
    gap: 1rem;
}

input {
    height: 2rem;
    font-size: 1.2rem;
    border-radius: var(--radius-default);
}

input[type="submit"] {
    border: none;
    background-color: var(--clr-pokeblue);
    text-align: center;
    width: 50%;
    justify-self: center;
    color: var(--clr-white);
    box-shadow: 2px 2px 2px var(--clr-text-primary);
    cursor: pointer;
}

@media (min-width: 600px) {
    main {
        padding: 2rem;
        max-width: 1000px;
        margin: auto;
    }
}